{{#extend 'layout' title="Quiz 2"}}
	{{#content 'body'}}
		<div id="quiz" class="container px-md-0" data-quiz-id="4">
			<div class="question fade-away"></div>
			<div id="score"></div>
			<div id="similar-quizes" class="pb-13">
				<h6 class="heading font-weight-normal mb-8">Similar quizes</h6>
				<div class="container-fluid px-md-0">
					<div class="row cards-list"></div>
				</div>
			</div>
			<button id="next-question" class="btn btn-lg btn-transparent btn-circle"><i class="icon-arrow-right2"></i></button>
		</div>
	{{/content}}
{{/extend}}