{{#extend 'layout' title="Quiz 1"}}
	{{#content 'body'}}
		<div id="quiz" class="container px-md-0" data-quiz-id="0">
			<h4 class="mb-8 font-weight-normal">{{quizes.list.0.question}}</h4>
		</div>
	{{/content}}
{{/extend}}