<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizco</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    {{> navbar}}
	
	<div id="content-wrapper">
	    {{#block 'body'}}
	    {{/block}}
	</div>

	{{> footer}}

    <script src="./build/js/main.js"></script>
</body>

</html>