<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizco</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    {{> navbar}}

    {{#block 'body'}}
    {{/block}}

    <script src="./build/js/main.js"></script>
</body>

</html>